challenge/node_modules/*
usepopcorn/node_modules/*
farAway/node_modules/*
pizza-menu/node_modules/*
steps/node_modules/*

../node_modules/*
usepopcorn/node_modules/*
accordion/node_modules/*
react-quiz/node_modules/*

accordion/public/.DS_Store
accordion/.DS_Store
.DS_Store
../.DS_Store
farAway/node_modules/*
pizza-menu/node_modules/*
steps/node_modules/*


steps/package-lock.json
challenge/package-lock.json
usepopcorn/package-lock.json
farAway/package-lock.json
pizza-menu/package-lock.json
steps/package-lock.json
usepopcorn/.gitignore
accordion/package-lock.json
package-lock.json
node_modules/*
accordion/node_modules/.bin/ansi-html
worldwise/starter/*
appPassword
worldwise/src/App3.jsx
worldwise/data/*
atomic-blog/node_modules/*
accordion/node_modules/*
12-atomic-blog/*
